/* ------------Start Side------------ */
#start_side{
    border-right: 0.1px solid #dfdfdf;
}
/* ------User Bar------ */
.cs_bar{
    /* Style */
    background-color: #eaeaea;
    /* Spacing and Dimensions */
    height: 50px;
}

/* ------Alerts Bar------ */
#alerts_bar{
    /* Style */
    background-color: #8edafc;
    /* Spacing and Dimensions */
    height: 60px;
}

/* ------Search Bar------ */
#search_bar{
    /* Style */
    background-color: #fafafa;
    /* Spacing and Dimensions */
    height: 40px;
}


/* ------Chats List----- */
#chats-list{
    /* Spacing and Dimensions */
    height: calc(100vh - 150px);
    /* Other Settings */
    overflow-y: scroll;
    overflow-x: hidden;
}

#chats-list .cs_chat{
    /* Style */
    background-color: #ffffff;
    border-bottom: 0.1px solid #dfdfdf;
    /* Spacing and Dimensions */
    height: 60px;
}


#chats-list .contact_image{
    /* Style */
    border-radius: 50%;
    /* Spacing and Dimensions */
    width: 45px;
}

/* ------------Current Chat Section------------ */
/* ------Current Chat Section------ */
#current_chat_messanger{
    /* Style */
    background-image: url(../img/mine.jpg);
    /* Spacing and Dimensions */
    height: calc(100vh - 100px);
    /* Other Settings */
    overflow-y: scroll;
    overflow-x: hidden;

}

#message_box{
    background-color: #f3eeea;
    /* Spacing and Dimensions */
    height: 50px;
}

#current_chat_messanger .sent_message{
    background-color: #d5f9ba;
    float: right;
    padding: 8px;
    min-width: 30%;
    max-width: 40%;
}
#current_chat_messanger .received_message{
    background-color: #ffffff;
    float: left;
    padding: 8px;
    min-width: 30%;
    max-width: 40%;
    
}
