/* ------User Bar------ */
.cs_bar{
    /* Style */
    background-color: #eaeaea;
    /* Spacing and Dimensions */
    height: 60px;
}

.profile_image{
    /* Style */
    border-radius: 50%;
    /* Spacing and Dimensions */
    width: 50px;
}


.message_date{
    font-size: .6rem;
    color: #b1b1b1;
}
/* ------------Start Side------------ */
#start_side{
    border-right: 0.1px solid #dfdfdf;
}

#user_bar .user_settings{
    color: #b1b1b1;
    font-size: 1.2rem;
}

/* ------Alerts Bar------ */
#alerts_bar{
    /* Style */
    background-color: #8edafc;
    /* Spacing and Dimensions */
    height: 60px;
}

/* ------Search Bar------ */
#search_bar{
    /* Style */
    background-color: #fafafa;
    /* Spacing and Dimensions */
    height: 40px;
}


/* ------Chats List----- */
#chats_list {
    /* Spacing and Dimensions */
    height: calc(100vh - 150px);
    /* Other Settings */
    overflow-y: scroll;
    overflow-x: hidden;
}

#chats_list  .cs_chat{
    /* Style */
    background-color: #ffffff;
    border-bottom: 0.1px solid #dfdfdf;
    /* Spacing and Dimensions */
    height: 60px;
}

#chats_list .selected_contact{
    background-color: #e9ebeb;
}



/* ------------Current Chat Section------------ */
/* ------Current Chat Section------ */
#current_chat_messanger{
    /* Style */
    background-image: url(../img/mine.jpg);
    /* Spacing and Dimensions */
    height: calc(100vh - 100px);
    /* Other Settings */
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 20px;

}

#message_box{
    background-color: #f3eeea;
    /* Spacing and Dimensions */
    height: 50px;
}

#current_chat_messanger .sent_message{
    /* Style */
    background-color: #d5f9ba;
    /* Flex Settings */
    align-self: flex-end;

}
#current_chat_messanger .received_message{
    /* Style */
    background-color: #ffffff;
     /* Flex Settings */
    align-self: flex-start;
}

#current_chat_messanger .message{
    /* Style */
    border-radius: 6px;
    /* Spacing and Dimensions */
    padding: 8px;
    margin: 4px;
    min-width: 30%;
    max-width: 40%;
}

